body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}